*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html{
    color:#555;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-weight:300;
    text-rendering: optimizeLegibility;
}
.rows {
    max-width: 1140px;
    margin: 0 auto 0 auto;
}
header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(img/background.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

h1,h2{
    text-transform: uppercase;
    letter-spacing: 2px;
    
}
h1{
    color: white;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 240%;
    word-spacing: 10px;
}
h2{
    font-size: 180%;
    text-align: center;
    word-spacing: 2px;
    margin-bottom: 20px;
}
h2::after{
    display: block;
    height: 3px;
    background-color: #2ecc71;
    width: 200px;
    content: " ";
    margin: 0 auto 0 auto;
    margin-top: 15px;
}

.background-page {
    
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
        
}
.btn:link,
.btn:visited{
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
    transition: background-color 0.4s, border 0.4s, color 0.5s;
    
}
.btn-fill:link,
.btn-fill:visited{
    background-color: #2ecc71;
    color:white;
    font-weight: 400;
    border:2px solid #2ecc71;
    margin-right: 30px;
}
.btn-empty:link,
.btn-empty:visited{
    border:2px solid #2ecc71;
    font-weight: 400;
    color: #2ecc71;
}
.btn:hover{
    background-color: #28b062;
}
.btn-fill:hover,
.btn-fill:active{
    border:2px solid #28b062;
}
.btn-empty:hover,
.btn-empty:active{
    border:2px solid #28b062;
    color: white;
}
.nav{
    
    color: #fff;
    float: right;
    margin-left: 40px;
}

.logo {
    height:150px;
    width: 150px;
    float: left;
    margin-top: 40px;
}

.navbar-nav {
    margin-top: 30px;
}
.navbar-nav li {
    margin: 20px;
}
.navbar-nav li a:link,
.navbar-nav li a:visited{
     color: #fff;
     text-transform: uppercase;
     border-bottom: 2px solid transparent;
    transition: border-bottom 0.4s;
    
}
.navbar-nav li a:hover,
.navbar-nav li a:active{
    border-bottom: 2px solid #2ecc71;
    background-color:transparent;
}
section {
    padding: 40px, 0;
    margin: 10px;
}
section p{
    padding-right: 30px;
}

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    text-align: center;
}

.big {
    font-size: 300%;
    color:#2ecc71;
    display: block;
}
.food-stack{
    list-style: none;
    width: 100%;
    
}
.food-stack li {
    display: block;
    float: right;
    width: 25%;
}
.image-section{
    width: 100%;
    display: block;
    overflow: hidden;
    background-color: #000;
 
}
.image-section img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}
.image-section img:hover {
    opacity: 1.1;
    transform: scale(1.03);
}

.new {
    margin-bottom: 33px;
}
